# Python Introduction

### 1. What is Python?
    
Python is a general-purpose language, which means it’s designed to be used in a range of applications, including data science, software and web development, automation, and generally getting stuff done. It has become one of the most popular programming languages in the world in recent years and has been used to create everything from Netflix’s recommendation algorithm to the software that controls self-driving cars.Python includes high-level data structures, dynamic typing and binding, and many more features that make it as useful for complex application development as it is for scripting. It can also be extended to make system calls to almost all operating systems and to run code written in C or C++. Lastly, Python is an objected oriented programming language as in everything in python is an object. But while that is true, it is also trivial to write code in a functional manner.

### 2. Why Python?
        
1. Python has simple, easy to learn syntax which emphasizes readability. Thus, it’s beginner friendly.<br><br>
2.there is no compilation step, the edit-test-debug cycle is incredibly fast. Debugging Python programs is easy: a bug or bad input will never cause a segmentation fault.<br><br>
3. It’s open source, which means it’s free to use and distribute, even for commercial purposes.<br><br>
4. It's versatile<br> <br>
5. Python has a large and active community that contributes to Python’s pool of modules and libraries, and acts as a helpful resource for other programmers. The vast support community means that if coders run into a stumbling block, finding a solution is relatively easy; somebody is bound to have run into the same problem before. <br> <br>

# 3. Basic Datatypes

There are four basic datatypes that we will go through in this section in order to get ourselves familiar with python.

1. Integers
2. Floating-Point numbers
3. Strings
4. Boolean

#### 3.1 Integers

In [1]:
a=1
print(a)
print(type(a))
b=2
# you can do this as well
a=b=3
print(a,b)
a,b = 1,2
print(b,type(b))

1
<class 'int'>
3 3
2 <class 'int'>

In [2]:
print(b+1,b-1,b*a,b/a,(b+1)**2,(b+1)**(b+2),(a+2)%3)

3 1 2 2.0 9 81 0

In [3]:
b=1
print(b)
b+=1
print(b)
b-=4
print(b)

1
2
-2

#### 3.2 Floats

In [4]:
a,b = 2.4, 3.4
print(type(a),type(b))

<class 'float'> <class 'float'>

In [5]:
print(b+1,b-1,b*a,b/a,(b+1)**2,(b+1)**(b+2),(a+2)%3)

4.4 2.4 8.16 1.4166666666666667 19.360000000000003 2982.939554520377 1.4000000000000004

In [6]:
print(b+1,b-1,round(b*a,2),round(b/a,2),round((b+1)**2,4),round((b+1)**(b+2),4),round((a+2)%3,6))

4.4 2.4 8.16 1.42 19.36 2982.9396 1.4

In [7]:
print(float(2),int(2.4),float(int(2.4)))

2.0 2 2.0

In [8]:
from math import floor,exp,ceil,log,sqrt,e,pi

In [9]:
print(floor(2.6),ceil(1.2))
print(pow(2,3))
print(abs(-4))
print(exp(2),log(2))
print(sqrt(4))
print(max(2,3),min(4,5))
print(divmod(6,2))
print(e)
print(pi)

2 2
8
4
7.38905609893065 0.6931471805599453
2.0
3 4
(3, 0)
2.718281828459045
3.141592653589793

More can be found at https://www.tutorialspoint.com/python/python_numbers.htm


Some of the functions will probably need to be imported through math

#### 3.3 Strings

In [10]:
var = 'Hello, world'
print(var,type(var))
print(len(var))

Hello, world <class 'str'>
12

In [11]:
var = var.lower()
print(var)
print(var.capitalize())
print(var.upper())
print(var.isnumeric(),'2'.isnumeric(),'2e'.isnumeric(),'22'.isdigit())
print(var.isalpha(),var.isalnum(),'hello'.isalpha())

hello, world
Hello, world
HELLO, WORLD
False True False True
False False True

In [12]:
var = 'hello' + 'world'
print(var)

helloworld

In [13]:
var = ' hello ! world   '
print(var.strip())
print(var.rstrip())
print(var.split())
print(var.split('!'))
print(var.rstrip().upper().isupper())

hello ! world
 hello ! world
['hello', '!', 'world']
[' hello ', ' world   ']
True

In [14]:
var = 'hello ! world'
print(len(var))

13

Strings in python are lists. We will show some stuff here regarding indexes and we will go more in depth in the lists section

In [15]:
print(var.find('e'))
print(var.find('el'))
print(var[2])
print(var[0:4])
print(var[:4])
print(var[3:])
print(var[12])
print(var[-1])
print(var[:-1])
print(var[2:6:1])
print(var[2:6:])
print(var[2:6:2])
print(var[-1::-1])

1
1
l
hell
hell
lo ! world
d
d
hello ! worl
llo
llo
lo
dlrow ! olleh

In [16]:
print(var.count('0'))
print(var.count('l'))
print('lololo'.count('lo'))
print(var.index('l'))
print(var.startswith('h'))
print(var.startswith('o'))

0
3
3
2
True
False

More can be found at https://www.w3schools.com/python/python_ref_string.asp

#### 3.4 Boolean

In [17]:
True, False

(True, False)

In [18]:
a,b

(2.4, 3.4)

In [19]:
a == b

False

In [20]:
a < b

True

In [21]:
a >= b

False

### 4 Lists, Sets, Tuples, Dictionaries

#### 4.1 Lists

1. Lists are created using square brackets.

2. List items are ordered, changeable, and allow duplicate values.

3. List items are indexed, the first item has index [0], the second item has index [1] etc. Indexes are inclusive from the start, exclusive at the end.

4. Ordered means that the items have a defined order, and that order will not change. There are ways to change the order but this is done through list methods.

5. Lists are changeable, meaning that we can change, add, and remove items in a list after it has been created.

6. Lists can have items with the same value and can contain items of any data type - even other lists.

In [22]:
my_list = [1,2,3]
my_list_2 = ['a','b']
my_list_3 = [1.4,True,'orange']
all_lists = [my_list,my_list_2,my_list_3]

print(my_list,type(my_list))
print(my_list_2,len(my_list_2))
print(my_list_3)
print(all_lists)

[1, 2, 3] <class 'list'>
['a', 'b'] 2
[1.4, True, 'orange']
[[1, 2, 3], ['a', 'b'], [1.4, True, 'orange']]

In [23]:
print(len(my_list))
print(my_list[0])
print(my_list[:1])

my_list[2] = 4
print(my_list)
#my_list[0:2] = 1 - wrong
my_list[0:2] = [0,4]
#print(my_list[3]) - wrong

3
1
[1]
[1, 2, 4]

In [24]:
# Interesting property
print(my_list[2:6])

[4]

In [25]:
print(my_list[-1::-1])

[4, 4, 0]

In [26]:
my_list.append(4) # adds element to the end
print(my_list)

[0, 4, 4, 4]

In [27]:
my_list.insert(0,-3) # insert at specified position
my_list

[-3, 0, 4, 4, 4]

In [28]:
my_list.pop() # by default removes last element
print(my_list)
my_list.pop(0) # remove element at specified index
print(my_list)
my_list_new = my_list
my_list.clear() # clears list
print(my_list_new,my_list)
my_list_new = my_list_2.copy() # returns a copy of the list - correct way
my_list_2.reverse() # reverses a list
print(my_list_new,my_list_2)

[-3, 0, 4, 4]
[0, 4, 4]
[] []
['a', 'b'] ['b', 'a']

In [29]:
print(my_list_new.index('a')) # finds element within a list and returns the index of it returns error otherwise
print([1,2,3,4,5,1].count(1)) #returns number of occurences within a list
my_list = [1,2,3,4,5,1]
my_list.sort()# sorts the list
print(my_list)
print(my_list.sort())

0
2
[1, 1, 2, 3, 4, 5]
None

#### Honorable mentions

In [30]:
' '.join(my_list_new) # works with strings only

'a b'

Some more functions can be found at

https://www.w3schools.com/python/python_ref_list.asp

And of course google is your friend for any specific cases!

#### 4.2 Tuples

A tuple is a collection which is ordered, indexed and unchangeable.

Tuples are written with round brackets.

Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created. (immutable)

In [31]:
my_tuple = ("apple", 1, "cherry", 2, "cherry")
print(my_tuple)

('apple', 1, 'cherry', 2, 'cherry')

In [32]:
my_tuple = (2,)
print(type(my_tuple))

#NOT a tuple
my_tuple = (2)
print(type(my_tuple))

<class 'tuple'>
<class 'int'>

In [33]:
my_tuple = (2,4)
print(list(my_tuple))

tuple(list(my_tuple))

[2, 4]

(2, 4)

In [34]:
print((2,2,2,4,4).count(2))
(2,2,2,4,4).index(4)

3

3

#### 4.3 Sets

A set is a collection which is unordered, unchangeable and unindexed.
1. Sets cannot have two items with the same value.

2. Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

3. Set items are unchangeable, but you can remove items and add new items. But you cannot change existing items using the index as in lists for example

In [35]:
my_set = {1,2,3,3,4,5,6,'a'}
print(my_set)
#print(my_set[0]) # wrong

{1, 2, 3, 4, 5, 6, 'a'}

In [36]:
print(len(my_set))

7

In [37]:
my_set.add('b')
print(my_set)
my_set_2 = {1,2,3}
print(my_set.difference(my_set_2)) # returns the elements that differ between the two sets
print(my_set.intersection(my_set_2)) # returns the common elements between the two sets
print(my_set.union(my_set_2)) # returns the union of the two sets

print(my_set.issubset(my_set_2))
print(my_set_2.issubset(my_set))

my_set.pop()
print(my_set)
my_set.remove(5)
print(my_set)

{1, 2, 3, 4, 5, 6, 'b', 'a'}
{4, 5, 6, 'a', 'b'}
{1, 2, 3}
{1, 2, 3, 4, 5, 6, 'a', 'b'}
False
True
{2, 3, 4, 5, 6, 'b', 'a'}
{2, 3, 4, 6, 'b', 'a'}

More can be found at
https://www.w3schools.com/python/python_ref_set.asp

#### 4.4 Dictionaries

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered (from 3.7 and onwards), changeable and do not allow duplicates.

Dictionaries are written with curly brackets, and have keys and values.

Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created.

Dictionaries cannot have two items with the same key.

Duplicate values will overwrite existing values

In [38]:
my_dict = {
    'year' : 1997,
    'month': 'September',
    'month': 'August',
    'day': 9,
}
print(my_dict)

{'year': 1997, 'month': 'August', 'day': 9}

In [39]:
print(my_dict['year'])
#print(my_dict[1997]) wrong

1997

In [40]:
print(my_dict.items()) # list of tuples k:v pairs
print(my_dict.get('month')) # returns value of specified key
print(my_dict.keys()) # list of keys
print(my_dict.values()) # list of values
print(my_dict.pop('month')) # removes specified k:v pair

my_dict['day'] = 12 # change element
my_dict['birthday'] = True # add element
print(my_dict)

my_dict.update({'month':'August','color':'black'}) # add elements
print(my_dict)

dict_items([('year', 1997), ('month', 'August'), ('day', 9)])
August
dict_keys(['year', 'month', 'day'])
dict_values([1997, 'August', 9])
August
{'year': 1997, 'day': 12, 'birthday': True}
{'year': 1997, 'day': 12, 'birthday': True, 'month': 'August', 'color': 'black'}

In [41]:
# find key from value - if exists
vals = my_dict.values()
print(vals)
index = list(vals).index(1997)
print(index)
print(list(my_dict.keys())[index])

dict_values([1997, 12, True, 'August', 'black'])
0
year

In [42]:
#or
list(my_dict.keys())[list(my_dict.values()).index(1997)]

'year'

More can be found at
https://www.w3schools.com/python/python_ref_dictionary.asp

### 5 For loops, While loops, If statements

#### 5.1 If Statements

Python supports the usual logical conditions from mathematics:

1. Equals: a == b
2. Not Equals: a != b
3. Less than: a < b
4. Less than or equal to: a <= b
5. Greater than: a > b
6. Greater than or equal to: a >= b

In [43]:
a,b = 5,10 # run a few examples


if a>b:
    print(a,'>',b)
elif a<b:
    print(a,'<',b)
else:
    print(a, 'equals',b)

5 < 10

In [44]:
a,b,c = 5,10,5
if a<b:
    if a==c:
        print('inside')
    else:
        print('nothing')
if a==c:
    print('second')
else:
    print('outside')

inside
second

In [45]:
a,b,c = 5,10,5
if a<b:
    if a!=c:
        print('inside')
    else:
        print('nothing')
if a!=c:
    print('second')
else:
    print('outside')

nothing
outside

In [46]:
print('hi') if a<b else print('hello')

hi

#### 5.2 While Loops

With the while loop we can execute a set of statements as long as a condition is true.

P.S. Loops in general can be used to loop over iterables such as lists,sets, dictionaries, arrays, dataframes etc.

In [47]:
i = 1
while i<6:
    print(i)
    i+=1

1
2
3
4
5

In [48]:
my_list = [1,2,3]
i = 0
while i<len(my_list):
    print(my_list[i])
    i+=1

1
2
3

#### 5.2.1 Break, pass, continue

In [49]:
i = 1
while i<=10:
    print(i)
    if i == 2:
        print('I dont do anything')
        pass
    elif i == 3:
        print('I will jump two numbers')
        i+=2
        continue # used to skip an iteration
    elif i==6:
        print('We stop here')
        break # break out of the first outer loop

    i+=1

1
2
I dont do anything
3
I will jump two numbers
5
6
We stop here

#### 5.3 For loops

A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [50]:
my_list = [1,2,3,4,5]
my_list_2 = ['apple','orange','kiwi']

for element in my_list:
    print(element)

1
2
3
4
5

In [51]:
for x in range(6):
    print(x)
print('---')
for x in range(2,5):
    print(x)
print('---')
for x in range(2,8,2):
    print(x)

0
1
2
3
4
5
---
2
3
4
---
2
4
6

In [52]:
from itertools import zip_longest
for number,fruit in zip_longest(my_list,my_list_2):
    print(number,fruit)

1 apple
2 orange
3 kiwi
4 None
5 None

In [53]:
for fruit in my_list_2:
    fruit = fruit.upper()
print(my_list_2) ### doesn't work

['apple', 'orange', 'kiwi']

In [54]:
for index,fruit in enumerate(my_list_2):
    print(index,fruit)
    my_list_2[index] = fruit.upper()
print(my_list_2)

0 apple
1 orange
2 kiwi
['APPLE', 'ORANGE', 'KIWI']

In [55]:
# list comprehensions
my_list_2 = [fruit.lower() for fruit in my_list_2]
my_list_2

['apple', 'orange', 'kiwi']

### 6 Functions

A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

Parameters can be of any type and they can have default values as we will showcase.

Arguments without a default come before default arguments

In [56]:
def my_func():
    print('Hello World')

def my_func_2():
    return 'Hello world'

my_func()
print(my_func_2())

Hello World
Hello world

In [57]:
def my_func(n,var = 'everyone'):
    for i in range(n):
        print('Hi',var)

my_func(2)
my_func(1,'Codurance')

Hi everyone
Hi everyone
Hi Codurance

<strong>Create a function that returns the multiples of 4 if they exist in a list<strong>

In [58]:
def multiples_of_four_1(l):
    multiples = []
    for i in l:
        if i%4==0:
            multiples.append(i)
        
    return multiples

multiples_of_four_1([1,2,3,4,5,6,7,8,12,13])

[4, 8, 12]

In [59]:
def multiples_of_four_2(l):
    return [i for i in l if i%4==0]

multiples_of_four_2([1,2,3,4,5,6,7,8,12,13])

[4, 8, 12]

In [60]:
def multiples_of_four_3(l):
    return [i for i in l if (type(i)==int or type(i)==float) and i%4==0]

multiples_of_four_3([1,2,3,4,5,6,7,8,12,13,'a',16.0])

[4, 8, 12, 16.0]

In [61]:
def multiples_of_four_4(l: list)->list:
    '''
    This function takes a list (iterable) as a parameter and returns a list of the elements that are multiples of four
    '''
    return [i for i in l if (type(i)==int or type(i)==float) and i%4==0]

multiples_of_four_4([1,2,3,4,5,6,7,8,12,13,'a',16.0])

[4, 8, 12, 16.0]

### 7 filter, map, lambda

1. The filter() function extracts elements from an iterable (list, tuple etc.) for which a function returns True. 

2. The map() function executes a specified function for each item in an iterable. The item is sent to the function as a parameter.

These funcs return an iterator, so we have to turn them into a list again or iterate through the elements.
Iterators allow lazy evaluation, only generating the next element of an iterable object when requested.

In [62]:
def multiples_filter(check: int)-> bool:
    '''
    This function returns true if check is multiple of 4
    '''
    if (type(check) == int or type(check) == float) and check%4==0:
        return True

l = [1,2,3,4,5,6,7,8,12,13,'a',16.0]

multiples = filter(multiples_filter,l)
print(multiples)
print(list(multiples))

for i in filter(multiples_filter,l):
    print(i)

<filter object at 0x10b53b2b0>
[4, 8, 12, 16.0]
4
8
12
16.0

In [63]:
l = [1,2,3,4,5,6,7,8,12,13,16.0]

squares =  map(sqrt,l)
print(next(squares))
print(next(squares))
print(next(squares))

1.0
1.4142135623730951
1.7320508075688772

A lambda function is a small anonymous function. A lambda function can take any number of arguments, but can only have one expression.

In [64]:
multiply = lambda x: [i*2 for i in x]

multiply(l)

[2, 4, 6, 8, 10, 12, 14, 16, 24, 26, 32.0]

In [65]:
multiply = lambda x,y: [i*y for i in x]

multiply(l,3)

[3, 6, 9, 12, 15, 18, 21, 24, 36, 39, 48.0]

In [66]:
list(map(lambda x: x*2,l))

[2, 4, 6, 8, 10, 12, 14, 16, 24, 26, 32.0]

# Object Oriented Programming

**Object-oriented programming (OOP)** is a method of structuring a program by bundling related properties and behaviors into individual objects. In this tutorial, you’ll learn the basics of object-oriented programming in Python.

Let's see how we can declare a class with help of an example that contains an employee list.

```
kirk = ["James Kirk", 34, "Captain", 2265]
spock = ["Spock", 35, "Science Officer", 2254]
mccoy = ["Leonard McCoy", "Chief Medical Officer", 2266]
```

In [67]:
class Employee: # same as extending from object class Employee(Object):
  pass

This is the bare minumum you need to declare a class.

> All classes if not extended from an explicit class are implicitly inherited from **Object** class

Let's add some properties.

In [68]:
class Employee:
  name: str
  age: int
  rank: str
  employee_id: int

  def __init__(self, name: str, age: int, rank: str, employee_id: int):
    self.name = name
    self.age = age
    self.rank = rank
    self.employee_id = employee_id

We've now defined the properties on our class and initialised in constructor. However, there's another way to do this which we can see below.

In [69]:
class Employee:
  def __init__(self, name: str, age: int, rank: str, employee_id: int):
    self.name = name
    self.age = age
    self.rank = rank
    self.employee_id = employee_id

Here the properties are initialised in the constructor method `__init__()`

> This common practice in Python and the linters etc understand this very well.

> Your IDE will also understand this.

As your employee class is a simple container to hold data. You can simplify the class a bit more using the `@dataclass` annotation provided by the standard library.

In [70]:
from dataclasses import dataclass

@dataclass(init=True, frozen=True)
class Employee:
  name: str
  age: int
  rank: str
  employee_id: int

We add the dataclass annotation and also provide some options to simplify some boilerplate.

> `init=True` generates a constructor behind the scenes 
> `frozen=True` make this immutable

Let's see if we can now initialise our object with some employee details.

In [71]:
# kirk = ["James Kirk", 34, "Captain", 2265]
kirk: Employee = Employee(name="James Kirk", age=34, rank="Captain", employee_id=2265)

print(kirk.name)
print(kirk.age)
print(kirk.rank)
print(kirk.employee_id)

James Kirk
34
Captain
2265

Let's see frozen in action, if we try to modifiy kirk's name, we'll get an error.

In [73]:
kirk.name = 'spock'

FrozenInstanceError: cannot assign to field 'name'

## Instance Methods

Instance methods are functions that are defined inside a class and can only be called from an instance of that class. Just like .__init__(), an instance method’s first parameter is always self.

In [75]:
from dataclasses import dataclass

@dataclass(init=True, frozen=True)
class Employee:
  name: str
  age: int
  rank: str
  employee_id: int

  # Instance method
  def description(self):
    return f"{self.name} is {self.age} years old"

In [76]:
kirk = Employee(name="James Kirk", age=34, rank="Captain", employee_id=2265)
kirk.description()

'James Kirk is 34 years old'

## Class methods

A class method receives the class as implicit first argument, just like an instance method receives the instance.

It can be called either on the class (e.g. C.f()) or on an instance (e.g. C().f()). The instance is ignored except for its class. If a class method is called for a derived class, the derived class object is passed as the implied first argument.

Class methods are different from C++ or Java static methods. If you want those, see the **@staticmethod** builtin annotation.

In [77]:
from dataclasses import dataclass

@dataclass(init=True, frozen=True)
class Employee:
  name: str
  age: int
  rank: str
  employee_id: int

  # Instance method
  def description(self):
    return f"{self.name} is {self.age} years old"
        
  @classmethod
  def get_five(cls): 
    return 5

Employee.get_five()

5

## Static Methods

A static method does not receive an implicit first argument. 

It can be called either on the class (e.g. C.f()) or on an instance (e.g. C().f()). Both the class and the instance are ignored, and neither is passed implicitly as the first argument to the method.

Static methods in Python are similar to those found in Java or C++. For a more advanced concept, see the classmethod builtin.

In [78]:
from dataclasses import dataclass

@dataclass(init=True, frozen=True)
class Employee:
  name: str
  age: int
  rank: str
  employee_id: int

  # Instance method
  def description(self):
    return f"{self.name} is {self.age} years old"
        
  @staticmethod
  def get_five(): 
    return 5

Employee.get_five()

5

## Access Modifiers

In Python, nothing is truly private However, the industry has adoprted some naming conventions to define hidden properties & methods.

> protected uses single '_'

> private uses double '__'

### Public methods

```python
# Instance method
  def description(self):
    return f"{self.name} is {self.age} years old"
```


### Protected

```python
# Instance method
def _description(self):
  return f"{self.name} is {self.age} years old"
```

### Private

```python
# Instance method
  def __description(self):
    return f"{self.name} is {self.age} years old"
```

> `__init__()` method is an exception to the rules.

## Inheritance

For the most part inheritance works the same way as in C++, Java or C#.

In [79]:
class Animal:
    def move(self):
        pass

class Dog(Animal):
    def move(self):
        print('Mammal')

In [80]:
d = Dog()
print(type(d))
print(isinstance(d, Dog))
print(isinstance(d, Animal))

<class '__main__.Dog'>
True
True

In [82]:
class Vehicle: 
  def move(self):
    pass

class Driveable:
  def is_it_driveable(self):
    return True

class Car(Vehicle, Driveable):  
  def move(self):
    if self.is_it_driveable():
      print('Yes mate!')

car = Car()
car.move()

Yes mate!

## Abstract Classes

Abstract classes are classes that contain one or more abstract methods. An abstract method is a method that is declared, but contains no implementation.

In [83]:
from abc import ABC, abstractmethod

class InstantiableABC(ABC):
    def myMethod(self) -> None:
        pass

class UninstantiableABC(ABC):
    @abstractmethod
    def myMethod(self) -> None:
        pass


a = InstantiableABC()
b = UninstantiableABC()

TypeError: Can't instantiate abstract class UninstantiableABC with abstract method myMethod

> A class that is derived from an abstract class cannot be instantiated unless all of its abstract methods are overridden.

## Protocols (aka interfaces)

In [95]:
from typing import Protocol
from abc import abstractmethod


class Flyer(Protocol):
    @abstractmethod
    def fly(self) -> None:
        """A Flyer can fly"""
        pass


class FlyingHero(Flyer):
    """This hero can fly, which is BEAST."""

    def fly(self):
        # Do some flying...
        pass


class RunningHero(Flyer):
    """This hero can run. Better than nothing!"""

    def run(self):
        # Run for your life!
        pass


class Board:
    """An imaginary game board that doesn't do anything."""

    def make_fly(self, obj: Flyer) -> None:  # <- Here's the magic
        """Make an object fly."""
        return obj.fly()


def main() -> None:
    board = Board()
    board.make_fly(FlyingHero())
    board.make_fly(RunningHero())  # <- Fails mypy type-checking!


main()  # will error

AttributeError: 'RunningHero' object has no attribute 'fly'

## Decorators

A decorator in Python is any callable Python object that is used to modify a function or a class. A reference to a function "func" or a class "C" is passed to a decorator and the decorator returns a modified function or class. The modified functions or classes usually contain calls to the original function "func" or class "C".

Notable examples:

`@property` decorator: a pythonic way to use getters and computed setters in object-oriented programming.

In [97]:
# Using @property decorator
class Celsius:
    def __init__(self, temperature: int=0) -> None:
        self._temperature: int = temperature

    @property
    def fahrenheit(self) -> float:
        return (float(self._temperature) * 1.8) + 32

    @property
    def celsius(self) -> float:
        print("Getting value...")
        return self._temperature

    @fahrenheit.setter
    def fahrenheit(self, value: int) -> None:
        print("Setting value...")
        if value < -273.15:
            raise ValueError("Temperature below -273 is not possible")
        self._temperature = value

# create an object
human = Celsius(37)

print(human.celsius)
print(human.fahrenheit)

coldest_thing = Celsius(-300)

Getting value...
37
98.60000000000001